.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.flip-list-enter-active, .flip-list-leave-active {
  transition: opacity .5s;
}
.flip-list-enter, .flip-list-leave-to {
  opacity: 0;
}
.flip-list-move {
  transition: transform 1s;
}
.flip-list-item {
  transition: all 1s;
}

.list-complete-move {
  transition: transform 1s;
}
.list-complete-enter-active, .list-complete-leave-active {
  transition: opacity .5s;
}
.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
  transform: translateY(-100px); /* TODO fix, not working */
}