.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.flip-list-enter-active, .flip-list-leave-active {
  transition: opacity .5s;
}
.flip-list-enter, .flip-list-leave-to {
  opacity: 0;
}
.flip-list-move {
  transition: transform 1s;
}
.flip-list-item {
  transition: all 1s;
}